@if (this.$titleChange | async) {}
@if (this.$title | async) {}

<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Navigation Bar </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="blog-row">
      <section>
        <form [formGroup]="changeTitleForm">
          <div class="blog-row__title-form">
            <mat-form-field hideRequiredMarker>
              <mat-label for="title">Title</mat-label>
              <input
                autocomplete="off"
                type="text"
                formControlName="title"
                matInput
                required
              />
            </mat-form-field>
            <div class="blog-row__title-form--button">
              <button
                (click)="inputNewTitle()"
                matButton="filled"
                color="secondary"
              >
                Change Title
              </button>
            </div>
          </div>
        </form>
      </section>

      <app-create-nav-member />
    </div>
  </mat-expansion-panel>
</mat-accordion>
