@if (this.delete$ | async) {}
<!-- @if (this.jsone$ | async; as post) {
  {{ post.title }}
} -->

@if (loading()) {
  <app-graphql-spinner [loading]="loading()" />
}

@if (error) {
  <div>Error :{{ error }}</div>
}
@for (collection of collection$ | async; track collection?.title) {
  <div class="row">
    <app-collection-admin-row
      (idUpForDelete)="deleteCollection($event)"
      [collection]="collection"
    />
    <button (click)="openDialog(collection)">update</button>
  </div>
}
<!-- @for (collection of kollection$ | async; track collection?.content) {
  {{ collection?.title }}

} -->

<button (click)="openDialog(null)">create collection</button>
<button (click)="logout()">logout</button>
