@if (this.delete$ | async) {}
@if (this.$title | async) {}

@if (loading()) {
  <app-graphql-spinner [loading]="loading()" />
}

@if (error) {
  <div>Error :{{ error }}</div>
}
<div class="admin">
  <app-change-blogitle />

  @for (collection of collection$ | async; track collection?.title) {
    <app-collection-admin-row
      (idUpForDelete)="deleteCollection($event)"
      (collectionUpForEdit)="shturb($event)"
      (collectionUpForOpen)="updateCollection($event)"
      [downCollection]="collection"
    />
  }
  <div class="admin__bottom-row">
    <button matButton="filled" (click)="openDialog(null)">
      Create Collection
    </button>
    <button matButton="outlined" (click)="logout()">Logout</button>
  </div>
</div>
