@if (submit$ | async) {}
@if (newPost | async) {}
@if (updatePost | async) {}
@if (deletePost | async) {}
@if (data$ | async) {}

<h2>{{ title() }}</h2>
<h3>{{ heading() }}</h3>
@if (loading()) {
  <app-graphql-spinner [loading]="loading()" />
}
<div class="collection-edit">
  @for (post of posts(); track post?.id) {
    <app-collection-admin-row
      (idUpForDelete)="deleteCollection($event)"
      (collectionUpForOpen)="updateCollection($event)"
      (collectionUpForEdit)="shturb($event)"
      [downCollection]="post"
    />
  }

  <div class="collection-edit__bottom-row">
    <button matButton="filled" (click)="createPost()">Create Post</button>
    <button matButton="outlined" (click)="backToAdmin()">Back</button>
  </div>
</div>
