.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__title {
    display: flex;
  }
  &__options {
    padding-left: 1rem;
    display: flex;
    &__options--single {
      padding-left: 1rem;
    }
  }
}
