<section class="navbar">
  <div class="navbar__title-frame">
    <h2 class="navbar__title">
      <a class="navbar__title--text" [routerLink]="home">
        @if (heading$ | async) {
          {{ blogTitle() }}
        }
      </a>
    </h2>
  </div>
  <div class="navbar__options-frame">
    @for (member of members$ | async; track member?.id) {
      <p class="navbar__option">
        <a
          class="navbar__option--text"
          routerLink
          (click)="openNavElement(member?.id)"
        >
          {{ member?.title }}</a
        >
      </p>
    }

    @if (loggedIn()) {
      <p class="navbar__option">
        <a class="navbar__option--text" [routerLink]="admin">Admin</a>
      </p>
    }
  </div>
</section>
